.userInfo
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user
    {
        display: flex;
        align-items: center;
        gap: 20px;

        img
        {
            --size:50px;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .icons{
        display: flex;
        gap: 20px;

        img{
            
            --size:20px;
            width: var(--size);
            height: var(--size);
        }
    }
}